<footer class="bg-light py-12  ">
    <div class="container ">
      <h2 class="m-0 font-medium text-2xl">Get The FreshCart App</h2>
      <p class="text-gray-500 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="flex max-sm:flex-col  gap-3 ">
        <input type="text" class=" w-full rounded-md overflow-hidden" placeholder="Email" />
        <button class="btn-main text-nowrap">Share App Link</button>
      </div>

      <div class="bg-slate-400/50 h-[0.5px] my-3" >
        <!-- <hr> -->
      </div>

      <!-- footer payment Details Design  -->
      <div class="pay-details flex justify-between items-center  max-sm:flex-col">
        <div class="flex items-center gap-2">
          <h3 class="h6 m-0">Payment partners</h3>
          <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
          <img
            src="./assets/images/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="./assets/images/paypal.png" width="30px" alt="" />
          <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        </div>
  
        <div class="flex items-center gap-2">
          <h3 class="font-medium text-base m-0">Get Deliveries with FreshCart</h3>
          <img src="./assets/images/get-google-play.png" width="75px" alt="" />
          <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
        </div>
      </div>
    </div>
  </footer>
  